<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adiconar chegada</title>
    <script>
        function salvarDados() {
            const km_final = document.getElementById('km_final').value;
            const hora_final = document.getElementById('hora_final').value;

            fetch('/viagem/adicionar-chegada', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    km_final,
                    hora_final
                }),
            })
        
            .catch(error => {
                console.error('Erro ao salvar dados de chegada:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Adicionar chegada</h1>
    <form action="/adicionar-chegada" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" readonly>
        <label for="username">Id de Usuário:</label>
        <input type="text" id="username" name="username" readonly>

        <label for="km_final">Quilometragem final:</label>
        <input type="integer" id="km_final" name="km_final" required>

        <label for="hora_final">Data e hora de Chegada:</label>
        <input type="datetime" id="hora_final" name="hora_final" required>

        <button type="button" onclick="salvarDados()">Confirmar</button>
    </form>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>