<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adiconar chegada</title>
    <script>
        function salvarDados() {
            const kmChegada = document.getElementById('kmChegada').value;
            const dataChegada = document.getElementById('dataChegada').value;

            fetch('/viagem/adicionar-chegada', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    kmChegada,
                    dataChegada
                }),
            })
        
            .catch(error => {
                console.error('Erro ao salvar dados de chegada:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Adicionar chegada</h1>
    <form action="javascript:salvarDados()" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="<%= user.nome %>"readonly>
        <label for="username">Id de Usuário:</label>
        <input type="text" id="username" name="username" value="<%= user.usuario_ID %>"readonly>

        <label for="kmChegada">Quilometragem final:</label>
        <input type="number" id="kmChegada" name="kmChegada" required>

        <label for="dataChegada">Data e hora de Chegada:</label>
        <input type="datetime-local" id="dataChegada" name="dataChegada" required>

        <button type="submit">Confirmar</button>
    </form>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>