<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico</title>
</head>
<body>
    <h1>Historico de viagens/Log de viagens</h1>
    <button onclick="location.href='/motoristas/menu-adm'">Voltar</button>
</body>
</html>