<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Bordo</title>
</head>
<body>
    <h1>Menu de opções do administrador</h1>
    <p>Olá ADM, selecione o que deseja fazer:</p>
    <button onclick="location.href='../veiculos/gerenciar-veiculos'">Gerenciar Veículos</button>
    <button onclick="location.href='/motoristas/gerenciar-motoristas'">Gerenciar Motoristas</button>
    <button onclick="location.href='../viagens/historico'">Histórico</button>
    <button onclick="location.href='../viagens/adicionar-saida'">Adicionar Saída</button>
    <button onclick="location.href='../viagens/adicionar-chegada'">Adicionar Chegada</button>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>