<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Veículos</title>
</head>
<body>
    <h1>Gerenciar Veículos</h1>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>