<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Bordo</title>
</head>
<body>
    <h1>Menu de opções do Motorista</h1>
    <p>Olá Motorista, o que deseja fazer:</p>
    <button onclick="location.href='/adicionar_saida'">Adicionar Saída</button>
    <button onclick="location.href='/adicionar_chegada'">Adicionar Chegada</button>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>
