<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Bordo</title>
</head>
<body>
    <h1>Menu de opções do administrador</h1>
    <p>Olá ADM, selecione o que deseja fazer:</p>
    <button onclick="location.href='/gerenciar_veiculos'">Gerenciar Veículos</button>
    <button onclick="location.href='/gerenciar_motoristas'">Gerenciar Motoristas</button>
    <button onclick="location.href='/historico'">Histórico</button>
    <button onclick="location.href='/adicionar_saida'">Adicionar Saída</button>
    <button onclick="location.href='/adicionar_chegada'">Adicionar Chegada</button>
</body>
</html>