body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#56BC43, #43BCA9);
    background-image: url('/assets/img/3greenDiarioBackground.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.header, .footer {
    background-color:linear-gradient(180deg,#56BC43, #43BCA9);
    height: 50px; 
    line-height: 50px; 
    text-align: center; 
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}

input[readonly] {
background-color: #346c02; 
}
.btn-primary {
    display: block;
    width: 100%;
    background-color: #346c02;
}
button[type="submit"], button[type="button"] {
    margin-bottom: 10px;
}

