body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#56BC43, #43BCA9);
    background-image: url('/assets/img/3greenDiarioBackground.png');
    background-size: cover;
    background-position: center; 
    
}
.header {
    background-color: #346c02;
    height: 70px;
    line-height: 70px; 
    color: aliceblue;
    box-shadow: 0px 5px 20px black;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    z-index: 999;
}

.header .logo {
    flex: 0 0 auto; /* para a logo não encolher */
}

.header h1 {
    flex: 1 0 auto; /* pro título ñ ocupar o espaço restante */
    text-align: center;
    margin: 0;
}

.footer{
    background-color: #346c02;
    height: 70px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0px 5px 20px black;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}

#veiculo {
    appearance: none; 
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black"><path d="M4.2 6.3L8 10.1l3.8-3.8 1.4 1.4-5.2 5.2-5.2-5.2z"/></svg>') no-repeat right 10px center;
    background-size: 12px; 
    background-color: white;
    color: gray;
}
input[readonly] {
background-color: #346c02; 
color: white;
}
input[readonly]:hover {
    background-color: #346c02; 
    cursor: not-allowed;
    }

input[readonly]:focus {
    background-color: #346c02; 
    cursor: not-allowed;
    }
.btn-primary {
    display: block;
    width: 100%;
    background-color: #346c02;
}

.btn-primary:hover {
    background-color: #274f03; 
}
.btn-primary:focus, .btn:active {
    background-color: #274f03;
    color: aliceblue; 
}
button[type="submit"], button[type="button"] {
    margin-bottom: 10px;
}
.logo img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto; 
    z-index: 1000;
}

.ui-menu-item {
    padding: 8px; 
}

.ui-menu-item:hover {
    background-color: #e9ecef;
}

.ui-state-active {
    background-color: #007bff; 
    color: #ffffff; 
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    
    .header {
        height: auto; 
        line-height: normal; 
        padding: 10px;
    }
    
    .header h1 {
        text-align: center;
        flex: 1 100%; 
    }
    
    .header .logo, .header nav {
        flex: 1 100%; 
        text-align: center;
        margin-bottom: 10px;
    }
    
    .header nav ul {
        justify-content: center; 
    }
    
    .header nav ul li {
        margin-left: 10px;
    }
}